<!-- 2台の歩行者ロボットを同期 ros_setup.sh-->
<launch>
  <machine name="pedestrian1" address="192.168.1.190" env-loader="~/catkin_ws/env.bash" user="jetson" password="wakita121"/>

 <!--ros_setup amcl -->
  <group  ns = "pedestrian1" >
    <!--node machine="pedestrian1" name="ros_setup" pkg="kait_navigation" type="ros_setup.sh"/-->
    <node machine="pedestrian1" name="amcl" pkg="kait_navigation" type="amcl_urg.sh"/>
    <!-- Rviz -->
    <node pkg="rviz" type="rviz" args="-d '$(find kait_navigation)/rviz/urg_amcl.rviz'" name="visualizer" respawn="true" />
  </group>

</launch>
