<!-- AMCL setup pedestrian -->

<launch>

  <machine
    name="pedestrian1"
    address="192.168.1.190"
    user="jetson"
    env-loader="~/catkin_ws/env.bash"
    password="wakita121"
    />

  <!--pedestrian1-->
  <group ns="pedestrian1">

    <!--tf_prefix-->
    <!--param name="tf_prefix" value="pedestrian1" /-->

    <!-- 自己位置推定ノード amcl -->
    <!--include file="$(find kait_navigation)/launch/amcl_urg.launch" -->
    <node machine="pedestrian1" name="amcl" pkg="kait_navigation" type="amcl_urg.sh"/>
    <!--/include-->
  </group>

</launch>
