<!-- AMCL setup pedestrian -->

<launch>

  <machine
    name="pedestrian1"
    address="192.168.1.190"
    user="jetson"
    env-loader="~/catkin_ws/env.bash"
    password="wakita121"
    />

  <machine
    name="pedestrian2"
    address="192.168.1.191"
    user="jetson"
    env-loader="~/catkin_ws/env.bash"
    password="wakita121"
    />

  <!-- 自己位置推定ノード amcl -->
  <node machine="pedestrian1" name="amcl_ped1" pkg="kait_navigation" type="amcl_ped1.sh"/>

  <!-- 自己位置推定ノード amcl -->
  <node machine="pedestrian2" name="amcl_ped2" pkg="kait_navigation" type="amcl_ped2.sh"/>


  <node pkg="rviz" type="rviz" args="-d '$(find kait_navigation)/rviz/urg_amcl.rviz'" name="visualizer" respawn="true" />

</launch>
