<!-- 
  ped_amcl_setup_10
-->

<launch>
  <arg name="machine_name1" default="pedestrian1"/>
  <param name="tf_prefix" value="pedestrian1"/> <!-- For odom broadcaster node tf stuff--> <!--20211015-->

  <!-- machine -->
  <machine name="$(arg machine_name1)" address="10.20.171.190" user="jetson" env-loader="~/catkin_ws/env.bash" password="wakita121"/>

  <group ns = "pedestrian1"> <!--20211015-->

    <node machine = "$(arg machine_name1)" pkg="kait_navigation" type="pub_odom" name="pub_odom" />

    <node machine = "$(arg machine_name1)" pkg="tf" type="static_transform_publisher" name="stp_laser" args="-0.20 0 0 0 0 0 /$(arg machine_name1)/base_link /$(arg machine_name1)/laser 1" />

    <!-- mapサーバー -->
    <arg name="map_file" default="$(find kait_navigation)/maps/kait_cp1.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
      <param name="frame_id" value="map"/>
    </node>

    <!-- LRFのデバイスドライバノード -->
    <node machine = "$(arg machine_name1)" name="horizontal_laser" pkg="urg_node"
      type="urg_node" >
      <param name="serial_port" value="/dev/ttyACM0" />　<!-- デバイスドライバファイルのパス -->
      <param name="frame_id" value="$(arg machine_name1)/laser" />
    </node>


    <!-- 自己位置推定ノード amcl -->
    <!--<include file="$(find amcl)/examples/amcl_diff.launch" />-->
    <node machine = "$(arg machine_name1)" pkg="amcl" type="amcl" name="amcl" output="screen" args="/scan:=/scan">
      <!--param name="tf_prefix" value="$(arg tf_prefix)"/-->
      <!-- use amcl in the namespace -->
      <!--remap from="map" to="/map"/--> <!--20211015-->
      <param name="odom_frame_id" value="$(arg machine_name1)/odom"/>
      <param name="base_frame_id" value="$(arg machine_name1)/base_link" />
      <!-- When set to true, AMCL will only use the first map -->
      <param name="first_map_only" value="true"/> 
      <!-- AMCL param -->
      <param name="global_frame_id" value="/map"/>
    　<param name="gui_publish_rate" value="5.0"/>
      <param name="odom_model_type" value="diff"/>
      <param name="min_particles" value="500"/>
      <param name="max_particles" value="2000"/>
      <param name="kld_err" value="0.05"/>
      <param name="kld_z" value="0.95"/>
      <param name="odom_alpha1" value="7.0"/>		
      <param name="odom_alpha2" value="10.0"/>
      <param name="odom_alpha3" value="7.0"/>
      <param name="odom_alpha4" value="10.0"/>
      <param name="laser_max_beams" value="60"/>
      <param name="laser_z_hit" value="0.7"/>
      <param name="laser_z_short" value="0.05"/>
      <param name="laser_z_max" value="0.05"/>
      <param name="laser_z_rand" value="0.3"/>
      <param name="laser_sigma_hit" value="0.2"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_model_type" value="likelihood_field"/>
      <!-- <param name="laser_model_type" value="beam"/> -->
      <param name="laser_likelihood_max_dist" value="2.0"/>
      <param name="update_min_d" value="0.05"/>
      <param name="update_min_a" value="0.03"/>
      <param name="resample_interval" value="1"/>
      <param name="transform_tolerance" value="0.2"/>
      <param name="recovery_alpha_slow" value="0.001"/>
      <param name="recovery_alpha_fast" value="0.01"/>
      <param name="use_map_topic" value="true" />
    </node>
  </group>

  <node pkg="rviz" type="rviz" args="-d '$(find kait_navigation)/rviz/amcl_ped1.rviz'" name="visualizer" respawn="true" />

</launch>
